.app{
  display: block;
  width: 1650px;
  margin: 5px 30px;
}

.row{
  min-height: 45px;
  max-height: fit-content;
  
}

.column{
  background-color: #f8f8ff;
  border: 1px solid grey;
  padding: 15px;
  text-align: center;
}

.headCol{
  font-size: 19px;
  font-weight: 800;
}

.downArrow{
  cursor: pointer;
}

.deleteCol{
  cursor: pointer;
}

.top{
  background-color: #f8f8ff;
  padding-top: 10px;
  padding-left: 10px;
  width: 95vw;
}

.top > P {
  cursor: pointer;
  text-decoration: underline;
}
